/* Free Inria fonts from <https://github.com/BlackFoundry/InriaFonts/>.  */

@font-face {
    font-family: 'InriaSans-Bold';
    src: url('/lcourtes/static/fonts/InriaSans-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'InriaSans-Regular';
    src: url('/lcourtes/static/fonts/InriaSans-Regular.ttf') format('truetype');
    font-weight: regular;
    font-style: normal;
    font-feature-settings: "onum"; /* old-style figures */
}

@font-face {
    font-family: 'InriaSans-Light';
    src: url('/lcourtes/static/fonts/InriaSans-Light.ttf') format('truetype');
    font-weight: regular;
    font-style: normal;
}


pre { font-family: monospace }
tt { font-family: monospace }
code { font-family: monospace }
body { margin: 1em 1.5em 1.5em 1.5em; background: #ffffff; }
p { text-align: justify; }
p.flushright { text-align: right }
p.flushleft { text-align: left }
span.sc { font-variant: small-caps }
span.sf { font-family: sans-serif }


.skribilo-title {
  font-family: InriaSans-Bold, sans-serif;
  font-size: x-large;
  text-align: right;
  background: #ee7777; /* #dddde0; */
  padding: 5pt;
  margin: 0pt;
}

.skribilo-body {
  font-family: InriaSans-Regular, sans-serif;
  font-weight: normal;
  font-size: large;
  text-align: left;
  background: #ffffff;
  color: #433;
  max-width: 900px;
  margin: auto;
  line-height: 1.4em;
}

.skribilo-ending {
  /* The Skribilo advertising message.  */
  font-family: sans-serif;
  font-weight: normal;
  font-size: small;
  text-align: right;
  color: #999;
  border-top-style: dashed;
  border-top-width: 1px;
  border-top-color: #aaa;
  margin: 20px 0 0 0;
}

.chapter {  /* chapter title when `:file' is #f */
  font-family: InriaSans-Bold, sans-serif;
  font-weight: bolder;
  font-size: x-large;
  text-align: right;
  background: #eeeeee;
  padding: 8pt;
}

.section-title {
  background: #eeeef0;
  font-family: sans-serif;
  text-align: right;
}

.subsection-title { font-family: sans-serif; }

.code-excerpt {
  background: #eeeef0;
  font-family: fixed-width, Courier;
  text-align: left;
  margin: 20px;
  padding: 10px 25px 10px 25px;
  border-width: 0px;
  align: center;
}

/* Links.  */

a {
  text-decoration: none;
  border: 0 0 0 0;
  border-style: none;
}
a:link { color: #556; }
a:hover { color: #a67; font-size: 110%; transition: font-size 1s; }
a:visited { color: #544; }
a:visited:hover { color: #956; }


/* Navigation tabs (currently unused) */

div.navtabs-title {
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  border: 0 0 0 0;
  text-align: left;
  background: #8381de;
}
div.navtabs-bar {
  margin: 0 0 0 0;
  border: 0 0 0 0;
  text-align: right;
  border-top-color: black;
  border-top-style: solid;
  border-top-width: 1px;
  padding: 0 0 0 20%;
  background: #dedeff;
}
div.navtabs-tabs {
  background: white;
  text-align: right;
  font-family: InriaSans-Light, sans-serif;
  color: black;
  border-width: 0px;
  border-color: black;
  border-style: dotted;
  padding: 2px 10px 0px 10px;
  margin: 0 1px 0 0;
  text-decoration: none;
  border-radius: 10pt;
  -moz-border-radius: 10pt;
  padding: 7pt;
}


/* Margins */

table.left-margin-menu {
  border-radius: 10pt;
  -moz-border-radius: 10pt;
  background: #eee;
  margin: 10px;
}


td.skribilo-left-margin {
  border-width: 0;
  padding: 0 10px 0 10px;
  height: 100%;
  background: #ffffff;
  font-family: sans-serif, Helvetica, Arial;
  font-size: small;
}

div.skribilo-left-margin {
  position: fixed;
  /* width: 10%; */
}

table.skribilo-margins {
  border-width: 1px 0 0 0;
  border-style: solid;
  border-color: black;
  margin: 0px;
  height: 100%;
}

div.skribilo-right-margin {
  border-width: 0 0 0 1px;
  border-left-style: solid;
  border-left-color: black;
  margin: 0;
  height: 100%;
}
table.skribilo-margins td.skribilo-right-margin {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: black;
}

/* arch-tag: dcb33ac1-c923-4537-8f28-fd12cb3e8042
 */
